!!!strict
%head
	%meta{ content: "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }
%body
	%p
		= raw @offer.email_msg

	- if @offer.download_url.present?
		%p
			You can get your
			= @offer.item_name
			here:
			%a{ href: swell_media.accept_lead_offer_url( id: @offer_optin.optin.code ) }
				= swell_media.accept_lead_offer_url( id: @offer_optin.optin.code )
