#content.content.section.row
	.col-xs-12.bg-base
		.ribbon.ribbon-highlight
			%ol.breadcrumb.ribbon-inner
				%li
					%a{ href: swell_media.root_path() }
						Home
				%li.active
					Thank You!

		%h1
			Thanks for contacting us!

		%br
		%br
		%br